
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.carousel-height{
    height: 500px;
}
.carousel{
  &-1{
    background-image:url(~@/assets/img/xperia5.jpg);
  };
  &-2{
    background-image: url(~@/assets/img/reno3.jpg);
  }
  &-3{
    background-image: url(~@/assets/img/tim_cook.jpg);
  }
}
.headtitle{
  font-size:30px;
  @include media-breakpoint-up(lg) { 
      font-size:56px;
   }
}
.subtitle{
  font-size:15px;
  @include media-breakpoint-up(lg){
    font-size: 27px;
  }

}