.product-card{
  position: relative;
  display: flex;
  flex-direction: column;
  padding:.5rem;
  box-shadow: 0 1px 3px 0 rgba(black,.2);
  &:hover{
    box-shadow: 0 1px 3px 0 rgba(black,.8);
  }
}
.product-img{
  height: 220px;
  width: 100%;
  background-size: 70%;
  background-position: center center;  
  background-repeat: no-repeat;
  position: relative;
}
.product-title{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: .8rem;
  text-align: center;
}
.product-text{
  font-size: 1rem;
  margin-bottom: .8rem;
}